.review-item{
    border: 2px solid #f368e0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
}

.review-item img{
    width: 150px;
}
.review-item blockquote{
    font-size: 20px;
}
.review-item span{
    color:#f368e0;
    font-weight: bold;
}

.review-item h4{
    color: goldenrod;
}