.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}
.journey-left h1{
    font-size: 70px;
}
.journey-left p{
    font-size: 18px;
    width: 70%;
}

.journey-left p a{
    text-decoration: none;
    color: #f368e0;
}

.journey-left>a{
    text-decoration: none;
    color: mintcream;
    background-color: #f368e0;
    padding: 10px 30px;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
    transition: all 0.3s ease;


    
}

.journey-left>a:hover{
    padding: 10px 40px;

    
}

.journey-right{
    position: relative;
    animation-name: movingCamera;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.reviewDiv{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
}
.reviewButton{
    text-decoration: none;
    font-size: 30px;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    
}
.reviewButton:hover{
    text-decoration: none;
    font-size: 30px;
    margin: 0 20px;
    color: #f368e0;
    border: 3px solid #f368e0;
}