.review-container{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    justify-items: stretch;
    justify-self: center;
    padding-top: 100px;
}


@media only screen and (max-width: 900px){
    .review-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 480px){
    .review-container{
        grid-template-columns: repeat(1,1fr);
    }
}